<div class="row">
    <div class="col-md-12">
        <div style="text-align: center; color: #31708f;">
            <h4>the best free app for renting Camera gears</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3><span class="glyphicon glyphicon-user"></span> Register</h3>
            </div>
            <div class="panel-body">
                <form [formGroup]=registerForm (ngSubmit)="register()" class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                  <div class="form-group">
                      <div class="col-sm-12">
                        <div class="input-group formControDiv">
                            <span class="input-group-addon addon-width"><i class="fa fa-phone"></i></span>
                            <input formControlName="username" id="username" [(ngModel)]="userData.username" class="form-control" required minlength="10" maxlength="10" name="username" type="text" placeholder="Mobile Number">
                            <span class="input-group-addon input-group-addon-reg-custom"><a href="javascript:void(0);" (click)="sendOTP()" class="a-reg" title="Get OTP in your mobile number">Get OTP</a></span>
                        </div>
                        <div *ngIf="(!submitted && f.username.errors && f.username.invalid && (f.username.dirty || f.username.touched)) || (submitted && f.username.errors)" class="alert alert-danger">
                            <div *ngIf="f.username.errors.required">
                                Phone number is required.
                            </div>
                            <div *ngIf="f.username.errors.minlength">
                                Phone number must be 10 numbers.
                            </div>
                            <div *ngIf="f.username.errors.maxlength">
                                Phone number cannot exceed 10 numbers.
                            </div>
                        </div>
                        <div *ngIf="isPhoneNumber == false" class="alert alert-danger">
                            <div>
                                Phone number should be numeric.
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-sm-12">
                            <div class="input-group formControDiv">
                                <span class="input-group-addon addon-width"><i class="fa fa-lock"></i></span>
                                <input formControlName="password" id="password" [(ngModel)]="userData.password" class="form-control" required minlength="8" maxlength="30" name="password" type="password" placeholder="Password">
                            </div>
                            <div *ngIf="(!submitted && f.password.errors && f.password.invalid && (f.password.dirty || f.password.touched)) || (submitted && f.password.errors)" class="alert alert-danger">
                                <div *ngIf="f.password.errors.required">
                                    Password is required.
                                </div>
                                <div *ngIf="f.password.errors.minlength">
                                    Password must be at least 8 characters long.
                                </div>
                                <div *ngIf="f.password.errors.maxlength">
                                    Password cannot exceed 30 characters.
                                </div>
                            </div>
                      </div>
                  </div>
                  <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group formControDiv">
                                <span class="input-group-addon addon-width"><i class="fa fa-key"></i></span>
                                <input formControlName="otp" id="otp" class="form-control" [(ngModel)]="userData.otp" required minlength="6" maxlength="6" name="otp" type="password" placeholder="OTP">
                            </div>
                            <div *ngIf="(!submitted && f.otp.errors && f.otp.invalid && (f.otp.dirty || f.otp.touched)) || (submitted && f.otp.errors)" class="alert alert-danger">
                                <div *ngIf="f.otp.errors.required">
                                    OTP is required.
                                </div>
                                <div *ngIf="f.otp.errors.minlength">
                                    OTP must be of 6 numbers sent to registering phone number.
                                </div>
                                <div *ngIf="f.otp.errors.maxlength">
                                    OTP must be of 6 numbers sent to registering phone number.
                                </div>
                            </div>
                        </div>
                  </div>
                  <div class="form-group">
                        <div class="col-sm-12">
                            <div class="checkbox">
                                <label><input formControlName="terms" style="margin-top: 2px;" type="checkbox" id="terms" name="terms" value="">Please read and agree with the <a href="#" routerLink="/terms-and-conditions">Terms and Conditions</a></label>
                            </div>
                        </div>
                  </div>
                  <div class="form-group">
                      <div class="col-sm-12">
                          <button type="submit" class="btn btn-info">Register</button>
                      </div>
                  </div>
              </form>
            </div>
            <div class="panel-footer">
                Already have an account? <a href="javascript:void(0);" routerLink="/login">Click here</a> to log in.
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
<!-- Terms & Condition Check Modal -->
<button type="button" style="display: none;" class="btn btn-info " id="btnTermsValidation" data-toggle="modal" data-target="#termsValidationModal">Open Owner Info Modal</button>
<div class="custom-modal modal fade" id="termsValidationModal" tabindex="-1" role="dialog" aria-labelledby="termsValidationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="glyphicon glyphicon-alert" style="color: #f3ae0d;"></span> Alert</h4>
            </div>
            <div class="modal-body">
                <h4>Please agree by ticking the Terms and Conditions checkbox.</h4>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<!-- Validate OTP Send Phone Number -->
<button type="button" style="display: none;" class="btn btn-info " id="btnValidPhone" data-toggle="modal" data-target="#validPhoneModal">Open Phone Validation Modal</button>
<div class="custom-modal modal fade" id="validPhoneModal" tabindex="-1" role="dialog" aria-labelledby="validPhoneModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="glyphicon glyphicon-alert" style="color: red;"></span> Input Error</h4>
            </div>
            <div class="modal-body">
                <h4>Please enter a valid phone number.</h4>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<!-- Registration OTP Validation -->
<button type="button" style="display: none;" class="btn btn-info " id="btnValidOTP" data-toggle="modal" data-target="#validOTPModal">Open OTP Validation Modal</button>
<div class="custom-error-modal modal fade" id="validOTPModal" tabindex="-1" role="dialog" aria-labelledby="validOTPModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="glyphicon glyphicon-alert" style="color: red;"></span> OTP Error</h4>
            </div>
            <div class="modal-body">
                <h4>OTP is not valid or have expired.</h4>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<!-- OTP Send Success Modal -->
<button type="button" style="display: none;" class="btn btn-info " id="btnOtpSendSuccessALert" data-toggle="modal" data-target="#otpSendSuccessALertModal">OTP Alert</button>
<div class="custom-success-modal modal fade" id="otpSendSuccessALertModal" tabindex="-1" role="dialog" aria-labelledby="otpSendSuccessALertModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="glyphicon glyphicon-info-sign"></span> Information</h4>
            </div>
            <div class="modal-body">
                <h4>OTP sent successfully to entered phone number.</h4>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<!-- OTP Send Error Modal -->
<button type="button" style="display: none;" class="btn btn-info " id="btnOtpSendErrorALert" data-toggle="modal" data-target="#otpSendErrorALertModal">OTP Alert</button>
<div class="custom-error-modal modal fade" id="otpSendErrorALertModal" tabindex="-1" role="dialog" aria-labelledby="otpSendErrorALertModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="glyphicon glyphicon-alert" style="color: red;"></span> Error</h4>
            </div>
            <div class="modal-body">
                <h4>Error! OTP sent failure. Please check if its a valid phone number.</h4>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<!-- User/Phone Already Exists Modal -->
<button type="button" style="display: none;" class="btn btn-info " id="btnUserExistsModal" data-toggle="modal" data-target="#userExistsModal">User/Phone Exists Modal</button>
<div class="custom-modal modal fade" id="userExistsModal" tabindex="-1" role="dialog" aria-labelledby="userExistsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="glyphicon glyphicon-info-sign" style="color: #f3ae0d;"></span> Information</h4>
            </div>
            <div class="modal-body">
                <h4>User already exists. Please login.</h4>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>