<!-- Notifications -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-info">
          <div class="panel-heading">
              <h3 i18n><span class="glyphicon glyphicon-hand-right"></span> Terms & Conditions</h3>
          </div>
          <div class="panel-body">
            <p>
              Magic Lens provide free software service to users for listing/renting Camera and Camera gears/equipments, 
              as well as a host of value-adding services, as more fully described herein at www.magiclens.in, 
              as such descriptions may be changed by Magic Lens app from time to time. In order for you to obtain or continue using 
              the services provided by Magic Lens app, you must agree to and accept the terms and conditions of this agreement.
              Please read this agreements carefully.
            </p>
            <ol>
              <li>
                <p>
                  <b>Personal Info: </b>By accepting the terms and conditions of this agreement you represent and warrent that all
                  information that you have provided to Magic Lens is correct in all respects. You furture represent and warrant that
                  you have the legal authority to accecpt the terms and conditions of this agreement. Magic Lens app reserves its 
                  right, in its sole discretion, to refuse to provide you with any Magic Lens app's services.
                </p>
              </li>
              <li>
                <p>
                  <b>Phone Number & Password: </b>You must provide your Phone number (as ID) and high security password to enable you 
                  to access your application profile. You shall restrict access to such ID, password, and account to your family, 
                  friends, and associates. You are solely responsible for maintaining adequate security and control of your IDs and password.
                  Magic Lens app shall be entitled to rely on information it receives from you and may assume that all such 
                  information was transmitted by or on behalf of you. 
                </p>
              </li>
              <li>
                <p>
                  <b>Compliance with Law and Magic Lens app guidelines: </b>In connection with the exercise of your rights and 
                  obligations under this Agreement (including, without limitation, any related to individual privacy), you will 
                  comply, at your own expense, with all laws, policies, guidelines and regulations. You shall comply with all the 
                  current policies, procedures and guidelines of Magic Lens app governing the Magic Lens app's services. You shall 
                  not use the Magic Lens app's services in any manner, or in furtherance of any activity that may cause 
                  Magic Lens app to be subject to investigation, prosecution, or legal action.
                </p>
              </li>
              <li>
                <p>
                  <b>Data Collection, Privacy and Security: </b>Magic Lens app will collect, retain, and disclose information and data 
                  collected from you in accordance with the Services Documentation.
                </p>
                <p>
                  We may periodically send promotional emails or text messages to your registered mode of communtication about new 
                  products and special offers.
                </p>
                <p>
                  We may also use your information to communicate you from time to time for market research purpose. We may use the 
                  information to customize the website / app according to your interests.
                </p>
                <p>
                  To contact you via phone, email and text messages to deliver certain services or information you have requested.
                </p>
              </li>
            </ol>
            <p>
              <b>DISCLAIMER: </b>MAGIC LENS APP SERVICES ARE PROVIDED ON AN "AS IS," "AS AVAILABLE" BASIS WITHOUT ANY REPRESENTATIONS 
              OR WARRANTIES. MAGIC LENS APP DOES NOT REPRESENT OR WARRANT THAT THE MAGIC LENS APP SERVICES WILL BE AVAILABLE, ACCESSIBLE, 
              UNINTERRUPTED, TIMELY, SECURE, ACCURATE, COMPLETE, OR ENTIRELY ERROR-FREE. YOU MAY NOT RELY UPON ANY REPRESENTATION OR 
              WARRANTY REGARDING THE MAGIC LENS APP SERVICES BY ANY THIRD PARTY IN CONTRAVENTION OF THE FOREGOING STATEMENTS. 
              YOU UNDERSTAND AND AGREE THAT MAGIC LENS APP IS FREE TO USE AND DON"T USE THE APP UNAPPROPRIATELY THAT HARMS THE 
              REPUTATION OF USER AND THE APP ITSELF.
            </p>
          </div>
      </div>
    </div>
  </div>
</div>