.brand {
    padding: 3px 2px 3px 3px;
    font-size: 25px !important;
    font-weight: 750;
}

.brand-area {
    padding: 3px 3px 3px 3px;
    font-weight: bold;
    font-style: italic;
    color: #00fff5;
}