<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 i18n><span class="glyphicon glyphicon-hand-right"></span> Rental Policies</h3>
                </div>
                <div id="divContent" class="panel-body">
                    <p>Magic Lens app only provides free software service to users for listing/renting Camera and Camera gears/equipments.</p>
                    <p>Magic Lens app only acts as a platform of communication, and rental request management among users and business users.</p>
                    <h4>Rental Requests</h4>
                    <p>
                        Regardless of the period of rental specified in the Rental Agreement, Owner, by notice to the Customer, may cancel any 
                        Rental Agreement at any time during the term of the rental if, in the sole discretion of Owner, it is determined that 
                        the Customer is misusing equipments, the terms of this Agreement are not being met, or the Customer has breached this 
                        Agreement in any other manner. The transaction should be completely handled by the Owner and Customer. Magic Lens app 
                        doesn't involve in any of transactions of the Products/Equipments or Cashflows.
                    </p>
                    <h4>Product Description</h4>
                    <p>
                        The Product/Equipments should not have any legal or government restriction on the usage. Magic Lens app may unlist the Product/Equipment, 
                        by notifying to Owners if any pooduct is restricted or illegal to use. 
                        The physical Product/Equipment should match the description provided while listing the Product/Equipment in Magic Lens app. Customer should 
                        make sure that Product/Equipment should match the descriptions provided in Magic Lens app before renting. 
                    </p>
                    <h4>Delivery</h4>
                    <p>
                        The Owner/Customer bears full responsibility for all selection of and payment to any third party product delivery/carrier.
                    </p>
                    <h4>Return</h4>
                    <p>
                        The Customer (product renter) has to return the Product/Equipments before the end of the rental period in the place of business.
                        The Customer shall continue to bear any and all risks of loss and/or damage to the Product/Equipment until return has been accomplished 
                        in this manner.
                    </p>
                    <h4>Rental Fees</h4>
                    <p>
                        Rental request charged amount should be fixed for a specific transaction per 24 hrs. The Owner (product owner) 
                        cannot revise the charged amount during an ongoing transaction. The Owner and Customer should handle the cashflow 
                        transaction completely. Magic Lens app doesn't play any role in cashflow transactions.
                    </p>
                    <h4>Damage</h4>
                    <p>
                        The Customer acknowledges that when the Product/Equipment is delivered to the Owner, the Owner will have examined the 
                        Product/Equipment and found it to be in good working order. The Customer shall have full responsibility and liability 
                        to Owner for the actual cost to repair or replace any Product/Equipment which during the period between delivery to the 
                        Customer and return to Owner has been lost, stolen, or damaged from any cause whatsoever.
                    </p>
                    <h4>Cancellation</h4>
                    <p>
                        Cancellations with less than 24 hours notice may be subject to up to one day’s rental fee to Magic Lens app.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>