<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3><span class="glyphicon glyphicon-info-sign"></span> Bug Logged Successfully!</h3>
            </div>
            <div class="panel-body">
              <p>Dear customer, sorry for the inconvenienced caused. The bug/issue will be fixed in upcoming release. Thanks for your patience.</p>
              <p>Please <a href="javascript:void(0);" routerLink="/home">Click here</a> to go to home.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>