<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="panel panel-info">
              <div class="panel-heading">
                  <h3 i18n>Help / Support</h3>
              </div>
              <div id="divContent" class="panel-body">
                  <div class="row">
                    <div class="col-md-12">
                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#login_register" aria-controls="login_register" role="tab" data-toggle="tab">Login | Registration</a></li>
                        <li role="presentation"><a href="#search_info" aria-controls="search_info" role="tab" data-toggle="tab">Search</a></li>
                        <li role="presentation"><a href="#user_info" aria-controls="user_info" role="tab" data-toggle="tab">User Info</a></li>
                        <li role="presentation"><a href="#products_info" aria-controls="products_info" role="tab" data-toggle="tab">Products Info</a></li>
                        <li role="presentation"><a href="#rentals_info" aria-controls="rentals_info" role="tab" data-toggle="tab">Rentals Info</a></li>
                        <li role="presentation"><a href="#customer_care" aria-controls="customer_care" role="tab" data-toggle="tab">Customer Care</a></li>
                      </ul>
                      <!-- Tab panes -->
                      <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="login_register">
                          <div class="col-md-3">
                              <h4>New Registration</h4>
                              <img src="../../../assets/app-images/ui-register.png" alt="Register" width="100%">
                          </div>
                          <div class="col-md-3" style="padding-top:50px;">
                            <ul class="detail-info">
                                <li>Register to app by filling the registration form.</li>
                                <li>Enter your mobile number and get OTP.</li>
                                <li>Set a password, and agree to T&C and Submit.</li>
                            </ul>
                          </div>
                          <div class="col-md-3">
                              <h4>Login to App</h4>
                              <img src="../../../assets/app-images/ui-login.png" alt="Login" width="100%">
                          </div>
                          <div class="col-md-3" style="padding-top:50px;">
                              <ul class="detail-info">
                                <li>Login to the app using you mobile number and password.</li>
                              </ul>
                          </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="search_info">
                            <div class="col-md-9">
                                <h4>Search Data</h4>
                                <img src="../../../assets/app-images/ui-search-info.png" alt="Search Info" width="100%">
                            </div>
                            <div class="col-md-3" style="padding-top:50px;">
                                <ul class="detail-info">
                                  <li>Filter by entering Place and Product name.</li>
                                  <li>Below grid will display all the available products for rent.</li>
                                </ul>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="user_info">
                          <div class="col-md-5">
                              <h4>User Profile Analytics</h4>
                              <img src="../../../assets/app-images/ui-metrics.png" alt="Profile" width="100%">
                          </div>
                          <div class="col-md-5">
                              <h4>User Profile</h4>
                              <img src="../../../assets/app-images/ui-profile.png" alt="Profile" width="100%">
                          </div>
                          <div class="col-md-2" style="padding-top:50px;">
                              <ul class="detail-info">
                                <li>Displays profile info and product/requests metrics.</li>
                              </ul>
                          </div>
                          <div class="col-md-9">
                              <h4>Profile Settings</h4>
                              <img src="../../../assets/app-images/ui-profile-edit.png" alt="Profile Settings" width="100%">
                          </div>
                          <div class="col-md-3" style="padding-top:50px;">
                              <ul class="detail-info">
                                <li>Profile settings and detailed info can be updated by clicking the gear icon in above profle view.</li>
                              </ul>
                          </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="products_info">
                            <div class="col-md-9">
                                <h4>User Products</h4>
                                <img src="../../../assets/app-images/ui-user-listed-products.png" alt="User Products" width="100%">
                            </div>
                            <div class="col-md-3" style="padding-top:50px;">
                                <ul class="detail-info">
                                  <li>Display the products listed by owners which are available for rent.</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <h4>Add Product Form</h4>
                                <ul class="detail-info">
                                  <li>List new product by filling the product info and rental requirements.</li>
                                </ul>
                                <img src="../../../assets/app-images/ui-add-new-product.png" alt="Add Product Form" width="80%">
                            </div>
                            <div class="col-md-6">
                                <h4>Edit Product Form</h4>
                                <ul class="detail-info">
                                  <li>Edit an existing product info.</li>
                                </ul>
                                <img src="../../../assets/app-images/ui-edit-product-info.png" alt="Edit Product Form" width="80%">
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="rentals_info">
                          <div class="col-md-6">
                              <h4>Rental Request Form</h4>
                              <ul class="detail-info">
                                <li>Request product rental by filling the details.</li>
                              </ul>
                              <img src="../../../assets/app-images/ui-rental-request-form.png" alt="Rental Request Form" width="100%">
                          </div>
                          <div class="col-md-8">
                              <h4>User Incoming Rental Requests</h4>
                              <img src="../../../assets/app-images/ui-user-incoming-rental-requests.png" alt="User Incoming Products" width="100%">
                          </div>
                          <div class="col-md-4" style="padding-top:50px;">
                              <ul class="detail-info">
                                <li>Display the list of products that are been requested for rentals.</li>
                              </ul>
                          </div>
                          <div class="col-md-8">
                              <h4>User Outgoing Rental Requests</h4>
                              <img src="../../../assets/app-images/ui-user-outgoing-rental-requests.png" alt="User Outgoing Products" width="100%">
                          </div>
                          <div class="col-md-4" style="padding-top:50px;">
                              <ul class="detail-info">
                                <li>Display the list of products that the user have requested for rent.</li>
                              </ul>
                          </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="customer_care">
                            <div class="col-md-6" style="padding-top: 20px;">
                                <p><b style="color: brown;">Email your queries to:</b> queries@magiclens.in</p>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>